<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content  >
  <ion-slides style="height: 200px;" pager autoplay="3000" loop="true">
    <ion-slide style="background-color: green">
      <h2>Slide 1</h2>
    </ion-slide>

    <ion-slide style="background-color: blue">
      <h2>Slide 2</h2>
    </ion-slide>

    <ion-slide style="background-color: red">
      <h2>Slide 3</h2>
    </ion-slide>
  </ion-slides>

  <div class="main-type-list" style="display: flex">
    <div class="dl-center main-type-item" *ngFor="let type of types,let i = index" (click)="typeListClick(i);" >
      <img class="main-type-item-img" src="assets/imgs/ic_restaurann.png" />
    <label class="main-type-item-txt">{{type}}</label>
    </div>
  </div>

  <ion-list>
    <ion-card ion-item *ngFor="let item of types" (click)="itemSelected(item)">
      <ion-item>
        <ion-avatar item-start>
          <img src="img/marty-avatar.png">
        </ion-avatar>
        <h2>12小时（独享）</h2>
        <p style="font-size: 10px;color: gray">正规官方渠道资源</p>
        <h2 style="color: red">￥1.5元</h2>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
